block page
	-var page = "catalog";

extends ../blocks/layout/layout

block content
	.jumbotron-fluid
		.catalog-frame
			.catalog-frame__wrap
				ol.breadcrumb
					li.breadcrumb-item
						a(href="#") Каталог
					li.breadcrumb-item.active
						span Часы
				.catalog-frame__content
					h1.catalog-frame__title Часы
					.catalog-frame__navbar
						ul.catalog-frame__navbar-list
							each value in CATALOG_WATCH.catalogNavbar
								li.catalog-frame__navbar-list-item
									a.catalog-frame__navbar-link(href=value.url)!= value.title
			.catalog-frame__mask
			img.catalog-frame__bg(src="content/images/catalog/frame-bg-6.jpg" alt="")
	.catalog
		.filter
			.filter__wrap
				.filter__handler.js-modal-filter
					i.filter__handler-icon
						+svg('filters')
					span Фильтры
				.filter__tags
					input(type="hidden" value="chanel, кольца, серьги, желтое золото, белое золото, бриллианты, изысканный стиль")
					.filter__tags-inner

		.catalog__header
			h2.catalog__title Мужские часы
		.catalog__content
			.catalog-list
				.row
					each value in CATALOG_WATCH.catalogList
						.catalog-list__item.col-12.col-sm-6.col-lg-4
							.catalog-item
								a.catalog-item__link(href=value.url)
									.catalog-item__media
										img(src=value.src alt="")
									.catalog-item__content
										.catalog-item__title!= value.title
										.catalog-item__subtitle!= value.subtitle
										.catalog-item__description!= value.description
										.catalog-item__price!= value.price
											span.currency
								.catalog-item__wishlist
									i.catalog-item__wishlist-icon
										+svg('wishlist')
		.catalog__footer
			a.btn.btn-outline-gold(href="#") Показать еще
			nav(aria-label="catalog pagination")
				ul.pagination.justify-content-center
					li.page-item.active
						a.page-link(href="#") 1
					li.page-item
						a.page-link(href="#") 2
					li.page-item
						a.page-link(href="#") 3
					li.page-item
						a.page-link(href="#") 4
					li.page-item.next
						a.page-link(href="#") 5
					li.page-item
						a.page-link(href="#") 12
