block page
	-var page = "product";

extends ../blocks/layout/layout

block content
	.product
		.product__navbar
			ol.breadcrumb
				li.breadcrumb-item
					a(href="catalog.html") Каталог
				li.breadcrumb-item
					a(href="#") Ювелирные украшения
				li.breadcrumb-item
					a(href="#") Браслеты
				li.breadcrumb-item
					a(href="#") Cartier
				li.breadcrumb-item.active
					span Panthère de&nbsp;Cartier
			a.product__wishlist.hidden-sm-up(href="#")
				i.product__wishlist-icon
					+svg('wishlist')
			a.product__navbar-back(href="catalog.html")
		.product__container
			.row
				.col-12.col-lg-6
					.product-zoom
						.product-zoom__state.js-product-zoom
							figure
								a.product-zoom__item(data-size="2000x2000")
									img.img-fluide(src="content/images/product/big/img-4.jpg" data-thumb="content/images/product/thumb/img-4.jpg" alt="Приблизить - Браслет - Вид спереди - Стандартное изображение" data-alt-thumb="Приблизить - Браслет - Вид спереди - Уменьшенное изображение")
							figure
								a.product-zoom__item(data-size="2000x2000")
									img.img-fluide(src="content/images/product/big/img-5.jpg" data-thumb="content/images/product/thumb/img-5.jpg" alt="Приблизить - Браслет - Вид спереди - Стандартное изображение" data-alt-thumb="Приблизить - Браслет - Вид спереди - Уменьшенное изображение")
							figure
								a.product-zoom__item(href="content/images/product/big/img-6_b.png" zoom="true" role="button" data-size="2000x2000" data-alt-zoom="Отобразить - Браслет - Вид спереди - Масштаб")
									img.img-fluide(src="content/images/product/big/img-6.jpg" data-thumb="content/images/product/thumb/img-6.jpg" alt="Приблизить - Браслет - Вид спереди - Стандартное изображение" data-alt-thumb="Приблизить - Браслет - Вид спереди - Уменьшенное изображение")
				.col-12.col-lg-6
					.product-info
						h1.product-info__title БРАСЛЕТ Panthère de&nbsp;Cartier
						.product-info__category
							a.product-info__category-item(href="#") Cartier
							a.product-info__category-item(href="#") Panthère de&nbsp;Cartier
						.product-info__description
							p Впервые пантера, один из символов Дома, появляется в творчестве Cartier в 1914 году. «Укротить» загадочного хищника Луи Картье удается благодаря Жанне Туссен, его коллеге и единомышленнице, которая восхищалась этими животными. С тех пор пантера – одновременно опасная, ласковая и игривая – путешествует из одной коллекции в другую, открывая все грани своего характера. Браслет <b>Panthère de Cartier</b>, желтое золото 18 карат. Каждая из серег украшена 360 бриллиантами классической огранки общим весом 4,33 карата. Изумруды, оникс.
						.product-info__form
							.product-info__form-controls
								.product-info__form-price
									span 5 300 000
									span.currency
								a.btn.btn-outline-gold.js-send-request(href="#") Сделать запрос
							a.product__wishlist.hidden-xs-down(href="#")
								i.product__wishlist-icon
									+svg('wishlist')
						.product-info__property
							each value in PRODUCT.property2
								.product-info__property-groupname
									.product-info__property-name!= value.name
										| :
								.product-info__property-grouptext
									if(value.text.length > 1)
										each item in value.text
											.product-info__property-text
												a(href="#")!= item.title
									else
										.product-info__property-text!= value.text
						.product-info__property
							each value in PRODUCT.property
								.product-info__property-groupname
									.product-info__property-name!= value.name
										| :
								.product-info__property-grouptext
									.product-info__property-text!= value.text
	//- .video-content
	//- 	img.video-content__cover(src="content/images/video/video-cover-1.jpg" alt="" data-video-id="" data-video-link="")
	//- 	.video-content__play
	.section-content
		.section-content__title Рекомендуемое сочетание
		.section-content__wrap
			include ../blocks/Widgets/recommended/recommended
	.section-content
		.section-content__title Недавно просмотренное
		.section-content__wrap
			include ../blocks/Widgets/productCarousel/productCarousel